#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
	/*padding-top: 20px;*/
}

#gallery img {
    width: 400px;
    height: 300px;
	padding-top: 20px;
}

/* Width of images */
@media only screen and (max-width: 400px) {
    #gallery img {
        width: 100%;
    }
}