body {
	font-family: Arial, Helvetica, sans-serif;
}

#container, .wrap {
	position: absolute;
	top: 0px;
	left: 0px;
	/*height: 100%;*/
	width: 100%;
}

.wrap {
    height: 55px;
	background-color: #24A4fE;
}

#header {
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	overflow: visible;
}

#header, #main, .expand ul { /* sets the width of the header and content */
	width: 70%;
	margin: 0 auto;
}
#main {
	clear: both;
}
#main p {
	font-size: 16px;
}

#footer {
	clear: both;
	padding: 10px 0;
	text-align: center;
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1190px) {
	#header {
		padding: 0 1em;
	}
	#header, #main { /* sets the width of the header and content */
		width: 833px;
	}
}