#menu-btn {
	display: block;
	float: right;
	margin: 15px 0;
}
#menu-btn span {
	display: block;
	width: 20px;
	height: 3px;
	margin: 4px 0;
	background: white;
}

#nav ul {
	list-style: none;
    padding: 0;
	margin: 15px 0;
}
#nav li {
    display: inline;
	margin: 0;
}
#nav li:not(:last-child) {
	margin-right:15px;
}
#nav a {
	color: #fff;
	padding: 7px 0;
	font-size: 22px;
	text-decoration: none;
	text-align: center;
}
#nav:not(:first-child) a:hover {
	border-bottom-style: solid;
}
#nav a.active {
	border-top-style: solid;
}

.nav-menu {
	display: none;
}
.expand {
	display: block;
	background-color: #24A4fE;
	text-align: right;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 55px;	/* height of #header*/
	width: 100%;
}
.expand li {
	display: block !important;
	margin: initial !important;
	padding: 10px 0;
	position: relative;
	left: 11px;
}
.expand li:first-child {
	padding-top: 0
}
.expand a {
	padding: 0 8px !important;
	width: inherit;
	border-right: 3px solid #24A4fE;
	/*border-left: 3px solid #24A4fE;*/
}
.expand:not(:first-child) a:hover {
	border-bottom-style: none !important;
	border-left: 3px solid white;
}
.expand a.active {
	border-top-style: none !important;
	border-right: 3px solid white;
}

/* Hide Hamburger menu and show nav in header */
@media only screen and (min-width: 710px) {
	.nav-menu {
		display: block;
	}
	#menu-btn {
		display: none;
	}
}