.header,
.nav,
.footer {
	background-color: var(--clr-primary);
	color: var(--clr-background);

	a {
		color: inherit;
	}

	::selection {
		background: var(--clr-light);
		color: var(--clr-primary);
	}
}

.img-icon {
	display: block;
}

.logo {
	transition: transform 0.3s ease;

	&:focus,
	&:hover {
		transform: rotate(var(--logo-tilt-angle)) scale(1.1);
	}
}

section {
	padding-bottom: var(--section-spacing);

	& > * {
		margin-bottom: 0.75em;
	}
}

.section-content {
	position: relative;
	background: var(--clr-light);
	box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
	overflow: hidden;
	padding: 32px;
}

article {
	position: relative;

	& + article {
		margin-top: calc(var(--section-spacing) / 2);
	}
}

#welcome {
	font-size: 1.3rem;
	text-align: center;

	h1 {
		text-transform: initial;
	}
}
