h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: var(--ff-heading);
	font-weight: var(--fw-bold);
	color: var(--clr-secondary);
}

h1 {
	color: var(--clr-primary);
	font-size: 2em;
	text-transform: uppercase;
}
h2 {
	font-size: 1.7em;
}
h3 {
	font-size: 1.3em;
}

main {
	a {
		&,
		&:active {
			color: var(--clr-primary);
		}
	}

	::selection {
		background: var(--clr-secondary);
		color: var(--clr-background);
	}
}
