$mq-mobile: 600px;
$clr-primary: #255abc;

:root {
	--clr-primary: #{$clr-primary};
	--clr-secondary: #{lighten($clr-primary, 10%)};
	--clr-tertiary: #{lighten($clr-primary, 50%)};
	--clr-background: #eee;
	--clr-dark: #0b0a0a;
	--clr-light: #fff;
	--ff-main: 'Work Sans', sans-serif;
	--ff-heading: 'Mada', sans-serif;
	--fw-normal: 400;
	--fw-bold: 700;
	--section-spacing: 80px;
	--logo-tilt-angle: 5deg;
}
