<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	{{!--Chrome, Firefox OS and Opera--}}
	<meta name="theme-color" content="#265dcc">
	{{!--Windows Phone--}}
	<meta name="msapplication-navbutton-color" content="#265dcc">
	{{!--iOS Safari--}}
	<meta name="apple-mobile-web-app-status-bar-style" content="#265dcc">
	<title>AFSpeirs</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">

	<link rel="icon" type="image/ico" href="assets/img/global/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="assets/css/pages/{{title}}.css">
	<script src="assets/js/modules/nav.js"></script>
	{{#exists jsname}}<script src="assets/js/pages/{{jsname}}.js"></script>{{/exists}}
</head>
	
<body>
	<div id="container">
		<div class="header-wrap">
			<div id="header">
				<div id="nav" style="float: left">
					<ul><li><a href="index.html">AFSpeirs</a></li></ul>
				</div>
				<div id="menu-btn"><span></span><span></span><span></span><span></span><span></span><span></span></div>
				{{> navigation}}
			</div>
		</div>
		<div id="header-height" ></div>
		{{{block "body"}}}
		<div id="footer">
			{{#block "foot"}}
				<p>© Andy Speirs 2017</p>
			{{/block}}
		</div>
	</div>
</body>
</html>