.nav {
	display: flex;
	justify-content: center;
	padding-top: var(--section-spacing);
	align-items: center;

	&__item {
		font-family: var(--ff-heading);
		font-size: 1.5rem;
		font-weight: var(--fw-bold);
		text-transform: uppercase;
		height: inherit;
		padding: 0 32px;
		line-height: 64px;
		text-decoration: none;
		transition: background-color 0.2s ease;
		border-top: 4px transparent solid;
		border-bottom: 4px transparent solid;

		&[aria-current] {
			border-bottom: 4px var(--clr-background) solid;
		}

		&:focus,
		&:hover {
			background-color: var(--clr-secondary);
		}
	}
}

@media (max-width: $mq-mobile) {
	.nav {
		flex-direction: column;

		&__item {
			width: 100%;
			text-align: center;
			border-top: initial;
			border-bottom: initial;

			&[aria-current] {
				border-top: initial;
				border-bottom: initial;
				border-left: 6px var(--clr-background) solid;
				border-right: 6px var(--clr-background) solid;
			}
		}
	}
}
