.project-list {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
	}

	&--item {
		padding: 16px;

	}

	&--link {
		display: block;
		color: inherit;
		text-decoration: inherit;

		&:focus,
		&:hover {
			background-color: var(--clr-tertiary);
		}
	}
}
