<div class="content" id="404">
	<section>
		<h1 class="header">404</h1>
		<h3>Error: Page not found</h3>
		<p>The page you are looking for appears to be moved, deleted or does not exist.</p>
	</section>
</div>
