<h1 class="visually-hidden">{{manifest.name}}</h1>

<section id="about">
	<div class="section-content">
		<h2>About Me</h2>

		{{#each collections.about}}
			{{> section-content post=this}}
		{{/each}}
	</div>
</section>
