<section>
	<header id="gallery">Gallery</header>
</section>
<div class="flex">
	{{#times 7}}
		<a class="img-wrap" href="assets/img/pages/gallery/large/img_{{this}}.jpg"><img src="assets/img/pages/gallery/img_{{this}}.jpg" alt="Photo {{this}}" /></a>
	{{/times}}
</div>
