---
title: gallery
images: 4
---
{{#extend "layout"}}
	{{#content "body"}}
		{{> section}}
		<div id="content">
			<div class="flex">
				{{#times images}}
					<a class="img-wrap" href="assets/img/pages/gallery/large/img_{{this}}.jpg"><img src="assets/img/pages/gallery/img_{{this}}.jpg"></img></a>
				{{/times}}
			</div>
		</div>
	{{/content}}
{{/extend}}