{{#extend "layout"}}
    {{#content "head" mode="append"}}
		<link rel="stylesheet" type="text/css" href="css/gallery.css">
		<script src="js/gallery.js"></script>
    {{/content}}
 
    {{#content "body"}}
		<div id="gallery"></div>
    {{/content}}
 
{{/extend}}