---
permalink: /
---
<h1 class="visually-hidden">{{manifest.name}}</h1>

<section id="welcome">
	{{#each collections.welcome}}
		{{> card-projects post=this}}
	{{/each}}
</section>

<section id="about">
	<h2>About Me</h2>

	{{#each collections.about}}
		{{> card-projects post=this}}
	{{/each}}
</section>

<section id="projects">
	<h2>Projects</h2>

	{{#each collections.projects}}
		{{> card-projects post=this}}
	{{/each}}
</section>

<section id="other">
	<h2>Other</h2>

	{{#each collections.other}}
		{{> card-projects post=this}}
	{{/each}}
</section>
