---
permalink: /
header-extra: true
---
<h1 class="visually-hidden">{{manifest.name}}</h1>

<section id="welcome">
	<div class="section-content">
		{{#each collections.welcome}}
			{{> section-content post=this}}
		{{/each}}
	</div>
</section>

<section id="projects">
	<h2>Projects</h2>

	<div class="section-content">
		<ul class="project-list">
			{{#each collections.projects}}
				{{> project-list-item post=this}}
			{{/each}}
		</ul>
	</div>
</section>

<section id="other">
	<h2>Other</h2>

	<div class="section-content">
		<ul class="project-list">
			{{#each collections.other}}
				{{> project-list-item post=this}}
			{{/each}}
		</ul>
	</div>
</section>

<section id="about">
	<h2>About Me</h2>

	<div class="section-content">
		{{#each collections.about}}
			{{> section-content post=this}}
		{{/each}}
	</div>
</section>
