---
title: index
---
{{#extend "layout"}}
	{{#content "body"}}
		{{>section sectionTitle="andy's homepage"}}
		<div id="content">
			<p>I am not entirely sure what to put on this page</p>
			<p>Make sure to check out my projects or my gallery</p>
		</div>
	{{/content}}
{{/extend}}