<section id="welcome">
	<article>
		<header>
			<h1>AFSpeirs</h1>
		</header>

		<p>Hello and welcome</p>
	</article>
</section>

<section id="about">
	<h1>About Me</h1>

	<article>
		<p>Hello there, My name is Andy.</p>
		<p>I make things for the web, check them out below.</p>
	</article>
</section>

<section id="projects">
	<h1>Projects</h1>

	{{#each collections.projects}}
		{{>card-contents this}}
	{{/each}}
</section>

<section id="other">
	<h1>Other</h1>

	{{#each collections.other}}
		{{>card-contents this}}
	{{/each}}
</section>
