{{#extend "layout"}}
{{#content "body"}}
	<div class="content fullscreen" id="home">{{> home}}</div>
	<div class="content" id="projects">{{> projects}}</div>
	<div class="content" id="gallery">{{> gallery}}</div>
{{/content}}
{{/extend}}
