---
title: index
---
{{#extend "layout"}}
	{{#content "body"}}
		<h1>andy's homepage</h1>
		<p>I am not entirely sure what to put on this page</p>
		<p>Make sure to check out my projects or my gallery</p>
	{{/content}}
{{/extend}}