---
title: index
---
{{#extend "layout"}}

	{{#content "body"}}
		<h2>Andy's Homepage</h2>
		<p>I am not entirely sure what to put on this page</p>
		<p>Make sure to check out my projects or my gallery</p>
	{{/content}}

{{/extend}}