<h1 class="visually-hidden">{{manifest.name}}</h1>

<section id="other">
	<div class="section-content">
		<h2>Other Projects</h2>
		<p>Below are several projects that i have made (that are not related to the web).</p>
	</div>
</section>

<section id="other">
	<div class="section-content">
		<ul class="project-list">
			{{#each collections.other}}
				{{> project-list-item post=this}}
			{{/each}}
		</ul>
	</div>
</section>
