---
title: projects
jsname: projects
---
{{#extend "layout"}}
{{#content "body"}}
	{{> section sectionTitle="Pebble Watchfaces" image="title"}}
	<div id="content">
		<div id="flex">
			{{#each projects.watchface}}
				{{> watchface}}
			{{/each}}
		</div>
	</div>
{{/content}}
{{/extend}}