---
title: projects
jsname: projects
---
{{#extend "layout"}}
{{#content "body"}}
	{{> section-header sectionTitle="Pebble Watchfaces" image="title"}}
	<section>
		<div class="flex">
			{{#each projects.watchface}}
				{{> watchface}}
			{{/each}}
		</div>
	</section>
{{/content}}
{{/extend}}