---
title: projects
jsname: projects
---
{{#extend "layout"}}
{{#content "body"}}
	<section>
		<header>RouteMe</header>
		<p>
			RouteMe is a Progressive Web App that path finds through themeparks, showing you the quickest route to take from A -> B.
		</p>
		{{!-- <p>
			This project began as a Microsoft Windows application, written in C#, and has evolved to a Progressive Web App.
		</p> --}}
		<p>
			To view the app, visit <a href="https://routeme.afspeirs.uk">routeme.afspeirs.uk</a>.
		</p>
	</section>
	<section>
		<header>pebble watchfaces</header>
		<p>
			I have created several watchfaces for Pebble devices:<br>
			<span class="small">Hover over each watchface for more</span>
		</p>
		<div class="flex">
			{{#each projects.watchface}}
				{{> watchface}}
			{{/each}}
		</div>
	</section>
{{/content}}
{{/extend}}