<section>
	<header>RouteMe</header>
	<p>
		RouteMe is a Progressive Web App that path finds through themeparks, showing you the quickest route to take from A &rightarrow; B.
		<br><br>
		{{!-- This project began as a Microsoft Windows application, written in C#, and has evolved to a Progressive Web App.
		<br><br> --}}
		Below are several screenshots of the app:
	</p>
	<div class="flex">
		<div class="routeme">
			<img src="assets/img/pages/projects/routeme/routeme_1.png" data-imgcount="{{projects.routeme.images}}" alt="RouteMe Screenshot" />
			<div class="img-left"></div>
			<div class="img-right"></div>
		</div>
	</div>
	<p>
		To view the app, visit <a href="https://routeme.afspeirs.uk">routeme.afspeirs.uk</a>.
	</p>
</section>
<section>
	<header>Pebble Watchfaces</header>
	<p>
		I have created several watchfaces for Pebble devices:<br>
		<span class="small">Hover over each watchface for more</span>
	</p>
	<div class="flex">
		{{#each projects.watchface}}
			{{> watchface}}
		{{/each}}
	</div>
</section>
