---
title: projects
jsname: projects
watchface:
 - title: SimplyDigital
   aplite: 5
   basalt: 5
   chalk: 4
 - title: SimplyAnalog
   aplite: 2
   basalt: 2
 - title: Sharingan
   basalt: 1
 - title: LynxLife
   aplite: 2
---
{{#extend "layout"}}
	{{#content "body"}}
		{{>section image="title"}}
		<div id="content">
			<h2>Pebble Watchfaces:</h2>
			<div id="flex">
				{{!--SimplyDigital--}}
				{{>watchface this.watchface.[0]}}
				{{!--SimplyAnalog--}}
				{{>watchface this.watchface.[1]}}
				{{!--Sharingan--}}
				{{>watchface this.watchface.[2]}}
				{{!--LynxLife--}}
				{{>watchface this.watchface.[3]}}
			</div>
		</div>
	{{/content}}
{{/extend}}