---
title: projects
jsname: projects
watchface:
 - title: SimplyDigital
   store: https://apps.getpebble.com/en_US/application/56f3e4233ae8cc8e3400003e
   source: https://github.com/afspeirs/SimplyDigital
   aplite: 5
   basalt: 5
   chalk: 4
 - title: SimplyAnalog
   store: https://apps.getpebble.com/en_US/application/57b82c80bb85ed9aa5000943
   source: https://github.com/afspeirs/SimplyAnalog
   aplite: 2
   basalt: 2
 - title: Sharingan
   store: https://apps.getpebble.com/en_US/application/57c227f8f69d1de23e000291
   source: https://github.com/afspeirs/Sharingan
   basalt: 1
 - title: LynxLife
   aplite: 2
---
{{#extend "layout"}}
{{#content "body"}}
	{{> section sectionTitle="Pebble Watchfaces" image="title"}}
	<div id="content">
	  <div id="flex">
		{{#each watchface}}
			{{> watchface}}
		{{/each}}
	  </div>
	</div>
{{/content}}
{{/extend}}