---
title: projects
jsname: projects
watchface:
 - title: SimplyDigital
   aplite: true
   basalt: true
   chalk: true
 - title: SimplyAnalog
   aplite: true
   basalt: true
 - title: Sharingan
   basalt: true
---
{{#extend "layout"}}
	{{#content "body"}}
		{{>section image="title"}}
		<div id="content">
			<h2>Pebble Watchfaces:</h2>
			<div id="flex">
				{{>watchface this.watchface.[0]}}
			</div>
		</div>
	{{/content}}
{{/extend}}