<section class="small">
	<h1 class="header">Andy's Homepage</h1>
	<p>I am not entirely sure what to put on this page</p>
	<p>Scroll down to check out my projects or gallery</p>
	<a href="#projects" class="move-down-up-hover">{{> svg-arrow-down}}</a>
</section>
