<footer class="footer">
	<p><a href="https://github.com/afspeirs">GitHub</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://uk.linkedin.com/in/afspeirs">LinkedIn</a></p>
	<p>Privacy Policy&nbsp;&nbsp;|&nbsp;&nbsp;Terms of Use</p>
	<p>&copy; Andy Speirs 2017-2020</p>
</footer>
