<footer class="footer">
	<a href="https://github.com/afspeirs"><img class="img-icon" src="../../assets/img/github.svg" alt="github.com/afspeirs" width="32"></a>
	<p>Privacy Policy&nbsp;&nbsp;|&nbsp;&nbsp;Terms of Use</p>
	<p>&copy; Andy Speirs 2017-2020</p>
</footer>
