<header class="header">
	{{>github-corners class="header"}}
	<a class="header__logo logo" href="#" aria-label="Home">
		<img class="img-icon" src="../../assets/img/logo.svg" alt="" width="150">
	</a>
</header>
