<div class="nav-wrapper">
	<nav class="nav" role="navigation">
		<a class="nav__logo logo" href="#" aria-label="Home">
			<img class="img-icon" src="../../assets/img/logo.svg" alt="" height="38">
		</a>

		<button class="nav__toggle" aria-controls="menu" aria-expanded="false" aria-label="Menu">
			<span></span>
		</button>

		<ul id="menu" class="nav__list">
			<li class="nav__list-item">
				<a class="nav__link" href="#about">About</a>
			</li>
			<li class="nav__list-item">
				<a class="nav__link" href="#projects">Projects</a>
			</li>
			<li class="nav__list-item">
				<a class="nav__link" href="#other">Other</a>
			</li>
		</ul>
	</nav>
</div>
