<div class="nav-wrapper">
	<nav class="nav">
		<a class="nav__logo logo" href="#" aria-label="Home">
			<img class="img-icon" src="../../assets/img/logo.svg" alt="" height="38">
		</a>

		<ul class="nav__list">
			<li class="nav__list-item">
				<a class="nav__link" href="#about">About</a>
			</li>
			<li class="nav__list-item">
				<a class="nav__link" href="#projects">Projects</a>
			</li>
			<li class="nav__list-item">
				<a class="nav__link" href="#other">Other</a>
			</li>
		</ul>

		<div class="nav__toggle" tabindex="0" role="button" aria-label="Toggle Naviagation">
			<span></span>
		</div>
	</nav>
</div>
