<div id="nav-wrap">
	<nav>
		<a href="#home" class="brand">{{> svg-logo}}</a>

		<div id="nav-menu">
			<a href="#home">Home</a>
			<a href="#projects">Projects</a></li>
			<a href="#gallery">Gallery</a>
			{{!-- <a href="#about">About Me</a> --}}
		</div>

		<div id="nav-toggle"><span></span></div>
	</nav>
</div>
