<nav class="nav">
	<ul class="nav__list">
		<li class="nav__list-item">
			<a class="nav__link" href="#about">About</a>
		</li>
		<li class="nav__list-item">
			<a class="nav__link" href="#projects">Projects</a>
		</li>
		<li class="nav__list-item">
			<a class="nav__link" href="#other">Other</a>
		</li>
	</ul>
</nav>
