<div id="navbar-wrap">
	<div id="navbar">
		<a href="index.html" class="brand">
			AFSpeirs
			{{!-- <img src="assets/img/global/logo.png" /> --}}
		</a>

		<nav class="nav-menu">
			<a {{#ifEquals title 'index'}}class="active"{{/ifEquals}} href="index.html">Home</a>
			<a {{#ifEquals title 'projects'}}class="active"{{/ifEquals}} href="projects.html">Projects</a></li>
			<a {{#ifEquals title 'gallery'}}class="active"{{/ifEquals}} href="gallery.html">Gallery</a>
			{{!-- <a {{#ifEquals title 'about us'}}class="active"{{/ifEquals}} href="#">About Me</a> --}}
		</nav>

		<div id="menu-btn"><span></span><span></span><span></span></div>
	</div>
</div>
{{!-- <div class="navbar-height"></div> --}}