<section id="other">
	<h1>Other</h1>

	<article id="simple-panel">
		<header>
			<h2>Simple Panel</h2>
		</header>
		<p>Simple Panel is a rainmeter skin designed to work with any wallpaper.</p>
		<p>The rainmeter skin is made up of the following skins:</p>
		<ul>
			<li>TODO</li>
		</ul>
	</article>

	<article id="firefox-user-chrome">
		<header>
			<h2>Firefox userChrome</h2>
		</header>
		<p>I have created a custom firefox userChrome css</p>
		<p>I have not updated it in a while, and it will most likely not work on the latest version of firefox</p>
	</article>
</section>
