<section>
	<h2 class="header">Web apps</h2>
	<p>Below are some of the projects I have created for the web:</p>

	<div class="accordion-container">
		<button class="accordion-button">RouteMe</button>
		<div class="accordion-panel">
			<p>
				RouteMe is a Progressive Web App that path finds through themeparks, showing you the quickest route to take from A &rightarrow; B.
			</p>
			<p>
				This project began as a Microsoft Windows application, written in C#, and has evolved to a Progressive Web App.
			</p>
			<p>
				To view the app, visit <a href="https://routeme.speirs.dev" target="_blank" rel="noopener">routeme.speirs.dev</a>.
			</p>
		</div>

		<button class="accordion-button">NoteMe</button>
		<div class="accordion-panel">
			<p>
				NoteMe is a Progressive Web App that stores your notes in Markdown
			</p>
			<p>
				The app stores your notes in a <a href="https://firebase.google.com" target="_blank" rel="noopener">Firebase</a> database. You can sign up to use the app with a Google account, which allows you to log in and access your notes from any device.
			</p>
			<p>
				To view the app, visit <a href="https://noteme.app" target="_blank" rel="noopener">noteme.app</a>.
			</p>
		</div>

		<button class="accordion-button">CountMe</button>
		<div class="accordion-panel">
			<p>
				CountMe is a Progressive Web App that allows user to create/save/update collections of items.
			</p>
			<p>
				To view the app, visit <a href="https://countme.speirs.dev" target="_blank" rel="noopener">countme.speirs.dev</a>.
			</p>
		</div>

		<button class="accordion-button">DivideMe</button>
		<div class="accordion-panel">
			<p>
				DivideMe is a Progressive Web App that tells you what numbers are divisible by.
			</p>
			<p>
				To view the app, visit <a href="https://divideme.speirs.dev" target="_blank" rel="noopener">divideme.speirs.dev</a>.
			</p>
		</div>

		<button class="accordion-button">Sudoku</button>
		<div class="accordion-panel">
			<p>
				Sudoku is a Progressive Web App that allows you to play Sudoku at 3 difficulty settings; Easy, Medium and Hard.
			</p>
			<p>
				To view the app, visit <a href="https://sudoku.speirs.dev" target="_blank" rel="noopener">sudoku.speirs.dev</a>.
			</p>
		</div>

		<button class="accordion-button">Egg Wars</button>
		<div class="accordion-panel">
			<p>
				Egg Wars presents "Eggy Leia" as you have never seen her before. Just point your camera to the provided QR like code to see her.
			</p>
			<p>
				To view the app, visit <a href="https://eggwars.speirs.dev" target="_blank" rel="noopener">eggwars.speirs.dev</a>.
			</p>
		</div>
	</div>

	<h2 class="header">Other projects</h2>
	<p>Below are some of the other projects I have created:</p>

	<div class="accordion-container">
		<button class="accordion-button">SimplePanel</button>
		<div class="accordion-panel">
			<p>
				I have created a rainmeter skin
			</p>
		</div>

		<button class="accordion-button">userChrome</button>
		<div class="accordion-panel">
			<p>
				I have created a custom firefox userChrome css
			</p>
		</div>
	</div>
</section>
