#gallery {
	.img-wrap {
		width: 100px;
		height: 75px;
		overflow: hidden;

		img {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			width: inherit;
			vertical-align: middle;
		}
	}

	.gallery-wrap {
		position: relative;
	}

	.gallery-main {
		position: relative;
		width: 90vw;
		max-width: 900px;
		height: 67.5vw;
		max-height: 675px;
		margin-bottom: 10px;

		img {
			width: 90vw;
			max-width: 900px;
		}
	}

	.gallery-secondary {
		width: 100%;

		.img-wrap {
			flex: 0 0 auto;
			cursor: pointer;

			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}
}

.scroll {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;

	// Hide scrollbar
	&::-webkit-scrollbar {
		display: none;
	}
	// &-fade {
	// 	position: absolute;
	// 	bottom: 0;
	// 	right: -2px;
	// 	width: 25px;
	// 	height: 75px;
	// 	background: linear-gradient(to right, rgba(255, 255, 255, 0.001), $background-colour);
	// 	pointer-events: none;
	// }
}
