.img-wrap {
	margin: 10px 0;
	width: calc(var(--scale) * 400px);
	height: auto;
	overflow: hidden;

	img {
		width: 100%;
		vertical-align: middle;
		transition: transform 200ms ease-in-out;

		&:hover {
			transform: scale(1.05);
		}
	}
}
