#gallery {
	.gallery-wrap {
		max-width: 1260px;
		margin: 0 auto;
	}
	.img-wrap {
		margin: 10px 0;
		width: 400px;
		height: 300px;
		overflow: hidden;

		img {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			width: inherit;
			vertical-align: middle;
			transition: transform 200ms ease-in-out;

			&:hover {
				z-index: 1;
				transform: translateY(-50%) scale(1.05);
			}
		}
	}
}
