#home {
	display: flex;
	flex-direction: column;
	justify-content: center;

	.logo {
		display: block;
		margin: 30px auto;
		width: 50%;
		max-width: 250px;
		fill: var(--color-font);
		transition: 0.3s;

		&:hover {
			transform: rotate(var(--logo-tilt-degree));
		}
	}
}
