@import '../main.scss';

.watchface {
	margin-bottom: 20px;

	h3 {
		margin: 10px 0;
		text-align: center;
		width: 100%;
	}
	
	.rect {
		height: 168px;
		width: 144px;
	}
	
	.round {
		height: 180px;
		width: 180px;
		position: relative;
		top:-5px;
		left:-19px;
	}

	.watchface-button {
		text-align: center;

		button {
			margin: 5px 0;
			width: 56px;

			&:first-of-type {
				margin-top: 0;
			}
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	.links {
		position: absolute;
		bottom: 0;
		margin: 10px;

		a {
			line-height: 20px;

			&:first-of-type {
				margin-right: 3px;
			}
		}
	}
}

#flip-button {
	position: absolute;
	bottom: 10px;
	right: 10px;
	height: 20px;
	width: 20px;
}

// entire container, keeps perspective
.flip-container {
	perspective: 1000px;
}

.flip-container, .front, .back {
	width: 144px;
	height: 168px;
}

.flip-container.flip .flipper {
	transform: rotateY(180deg);
}

// flip speed goes here
.flipper {
	transition: 0.4s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background: lightgrey;
	overflow: hidden;
}

// front pane, placed above back
.front {
	z-index: 2;
	transform: rotateY(0deg);

	#img-left, #img-right {
		position: absolute;
		top: 60px;
		height: 48px;
		width: 34px;
		background: lightgrey;
		opacity: 0.95;
		display: none;
		
		&:hover {
			background:gray;
		}

		&:before {
			content: "";
			position: absolute;
			top: 12px;
			border-top: 12px solid transparent;
			border-bottom: 12px solid transparent;
		}
		
	}
	#img-left {
		left: 0;

		&:before {
			left: 6px;
			border-right: 20px solid dimgrey;
		}
	}
	#img-right {
		right: 0;

		&:before {
			right: 6px;
			border-left: 20px solid dimgrey;
		}
	}
	&:hover #img-left, &:hover #img-right {
		display: block;
	}

	#flip-button {
		display: none;
	}

	&:hover #flip-button {
		display: block;
	}
}

// back, initially hidden pane
.back {
	transform: rotateY(180deg);
}