@import '../main.scss';

.watchface {
	perspective: 1000px;
	user-select: none;
	margin: 15px 0;
	background-color: #171717;
	border: 7px outset #eee;
	border-radius: 20px;
	padding: 36px;

	h3 {
		margin: 10px 0;
		text-align: center;
		line-height: calc(var(--scale) * 1.2em);
		width: 100%;
	}

	#aplite,
	#basalt {
		height: 168px;
		width: 144px;
	}

	#chalk {
		height: 180px;
		width: 180px;

		&.flipper {
			margin: -6px -18px;
		}
		&.front {
			background-color: #171717;
		}
	}

	.watchface-button {
		text-align: center;

		button {
			margin: 5px 0;
			width: 56px;

			&:first-of-type {
				margin-top: 0;
			}
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	.links {
		position: absolute;
		right: 0;
		bottom: 0;
		height: 25px;
		margin: 10px;

		a {
			margin-left: 10px;
			text-decoration: none;

			svg {
				display: inline-block;

				&:hover {
					fill: darkslateblue;
				}
			}
		}
	}

	// flip speed goes here
	.flipper {
		transition: 0.4s;
		transform-style: preserve-3d;
		position: relative;

		.front, .back {
			backface-visibility: hidden;
			position: absolute;
			top: 0;
			left: 0;
			background: lightgrey;
		}

		// front pane, placed above back
		.front {
			z-index: 2;
			transform: rotateY(0deg);

			.img-left, .img-right {
				cursor: pointer;
				position: absolute;
				top: 62px;
				height: 46px;
				width: 30px;
				background: #171717;
				opacity: 0.95;
				display: none;

				&:hover {
					background:#333333;
				}

				&:before {
					content: "";
					position: absolute;
					top: 14px;
					display: inline-block;
					padding: 6px;
					border: solid lightgrey;
					border-width: 0 6px 6px 0;
				}
			}
			.img-left {
				left: 0;

				&:before {
					left: 9px;
					transform: rotate(135deg);
				}
			}
			.img-right {
				right: 0;

				&:before {
					right: 9px;
					transform: rotate(-45deg);
				}
			}
			&:hover .img-left, &:hover .img-right {
				display: block;
			}

			.flip-button {
				display: none;
			}

			&:hover .flip-button {
				display: block;
			}
		}

		// back, initially hidden pane
		.back {
			transform: rotateY(180deg);
		}
	}

	.flip-button {
		position: absolute;
		top: 8px;
		right: 8px;
		display: none;
	}
	&:hover .flip-button {
		display: block;
	}
}

.watchface.flip .flipper {
	transform: rotateY(180deg);
}