@import '../main.scss';

.watchface {
	margin-bottom: 20px;
	
	&:not(:last-of-type) {
		margin-right: 20px;
	}

	h3 {
		margin: 40px 0 10px 0;
		text-align: center;
		width: 100%;
	}
	
	.rect {
		height: 168px;
		width: 144px;
		
		&:after {
			width: 10px;
			height: 10px;
			background: red;
		}
	}
	
	.round {
		height: 180px;
		width: 180px;
		position: relative;
		top:-5px;
		left:-19px;
	}
}

// /* Nexus */
// @media only screen and (width: 412px) and (device-aspect-ratio: 9 / 16) {
// 	.watchface {
// 		margin: 0 44.2px !important;
// 	}
// }

// /* HTC 10 */
// @media only screen and (width: 360px) and (device-aspect-ratio: 9 / 16) {
// 	.watchface {
// 		margin: 0 26px !important;
// 	}
// }

#flip-button {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 20px;
	width: 20px;
}

// entire container, keeps perspective
.flip-container {
	perspective: 1000px;
}

.flip-container, .front, .back {
	width: 144px;
	height: 168px;
}

.flip-container.flip .flipper {
	transform: rotateY(180deg);
}

// flip speed goes here
.flipper {
	transition: 0.4s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background: lightgrey;
	overflow: hidden;

	// &:after {
	// 	content: "";
	// 	position: absolute;
	// 	top: 10px;
	// 	right: 10px;
	// 	height: 20px;
	// 	width: 20px;
	// 	background: gray;
	// }
}

// front pane, placed above back
.front {
	z-index: 2;
	transform: rotateY(0deg);
}

// back, initially hidden pane
.back {
	transform: rotateY(180deg);
}