@import 'helpers/variables.scss';
@import 'helpers/typography.scss';
@import 'helpers/nav.scss';

#container, .header-wrap {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

.header-wrap {
	background-color: $header-colour;
    height: $header-height;
	font-family: 'Open Sans', sans-serif;
}

#header-height {
	height: $header-height;
}

#header, #content, .expand ul { /* sets the width of the header and content */
	width: 85%;
	margin: 0 auto !important;
}
#flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#footer {
	clear: both;
	padding: 10px 0;
	text-align: center;
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1040px) {
	#header, #content { /* sets the width of the header and content */
		width: 884px;
	}
}