@import "helpers/variables.scss";
@import "helpers/nav.scss";
@import "pages/gallery.scss";
@import "pages/home.scss";
@import "pages/projects.scss";

*,
*:before,
*:after {
	box-sizing: border-box;
}
a,
div {
	-webkit-tap-highlight-color: transparent;
}

:root {
	--scale: 1;
	--logo-tilt-degree: 5deg;

	// @media #{$mq-medium} {
	// 	--scale: 1.2;
	// }
	// @media #{$mq-large} {
	// 	--scale: 1.3;
	// }
	// @media #{$mq-xlarge} {
	// 	--scale: 1.4;
	// }
	// @media #{$mq-xxlarge} {
	// 	--scale: 1.6;
	// }
}

body {
	background-color: $background-colour;
	color: $font-colour;
	font-family: Verdana, Arial, sans-serif;
	line-height: calc(var(--scale) * 1em);
	font-size: calc(var(--scale) * 1em);
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
}

#container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	// overflow-y: scroll;
	// scroll-behavior: smooth;
}

nav,
section { /* sets the width of the content */
	width: 90%;
	max-width: 900px;
	margin: 0 auto;

	&.small {
		max-width: 500px;
	}
}

.content {
	padding: $navbar-height 0;

	&.fullscreen {
		min-height: 100%;
		max-height: 900px;
	}

	// &:nth-child(odd) {
	// 	background: lightgrey;
	// }
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.5em;
}
p {
	.small {
		font-size: 12px;
	}
}

img {
	opacity: 1;
	transition: opacity 0.3s;
}
img[data-src] {
	opacity: 0;
}

footer {
	p {
		margin: 0;
		line-height: $footer-height;
		text-align: center;
	}
}
