@import 'variables.scss';

// ==========================================================================================
// ====  Default Navigation  ================================================================
// ==========================================================================================

.navbar-wrap {
	.navbar {
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
		// align-items: stretch;
		font-size: 22px;

		.brand {
			display: block;
			color: $background-colour;
			line-height: $navbar-height;
		}

		.nav-menu {
			display: none;
			flex-flow: row nowrap;
			align-content: center;
			white-space: nowrap;

			a {
				display: block;
				flex-shrink: 0;
				height: $navbar-height;
				line-height: $navbar-height - $navbar-item-border-width;
				font-size: $navbar-item-font-size;
				text-transform: uppercase;
				color: $background-colour;
				padding-left: round(($navbar-height - 20) / 2);
				padding-right: round(($navbar-height - 20) / 2);
				border-bottom: $navbar-item-border-width solid transparent;
				text-decoration: none;

				&.active,
				&:hover,
				&:focus {
					border-bottom-color: $navbar-item-active-border;
				}
			}

			@media (min-width: $navbar-collapse-breakpoint) {
				display: flex;
			}
			@media (max-width: $navbar-collapse-breakpoint) {
				&.expand {
					background-color: $navbar-background-colour;
					text-align: right;
					position: absolute;
					top: $navbar-height;
					left: 0;
					width: 100%;
					padding-bottom: $navbar-height / 5;
					z-index: 10;
					
					a {
						height: $navbar-height / 1.2;
						// width: inherit;
						border-right: $navbar-item-border-width solid transparent;
						border-bottom: none !important;

						&.active,
						&:hover {
							border-right: $navbar-item-border-width solid $background-colour;
							// background: darken($navbar-background-colour, 10%);
						}
					}
				}
			}
		}
	}
}


// ==========================================================================================
// ====  Responsive Menu  ===================================================================
// ==========================================================================================

.expand {
	display: block !important;
}


// ==========================================================================================
// ====  Menu Button And Animation  =========================================================
// ==========================================================================================

#menu-btn {
	width: 20px;
	height: 20px;
	margin-top: 24px;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;

	span {
		display: block;
		position: absolute;
		height: 3px;
		width: 50%;
		background: white;
		opacity: 1;
		transform: rotate(0deg);
		transition: .25s ease-in-out;

		&:nth-child(even) {
			left: 50%;
		}

		&:nth-child(odd) {
			left: 0px;
		}

		&:nth-child(1), &:nth-child(2) {
			top: 0px;
		}

		&:nth-child(3), &:nth-child(4) {
			top: 7px;
		}

		&:nth-child(5), &:nth-child(6) {
			top: 14px;
		}
	}

	&.open span {
		&:nth-child(1), &:nth-child(6) {
			transform: rotate(45deg);
		}

		&:nth-child(2), &:nth-child(5) {
			transform: rotate(-45deg);
		}

		&:nth-child(1) {
			left: 2px;
			top: 4px;
		}

		&:nth-child(2) {
			left: calc(50% - 2px);
			top: 4px;
		}

		&:nth-child(3) {
			left: -50%;
			opacity: 0;
		}

		&:nth-child(4) {
			left: 100%;
			opacity: 0;
		}

		&:nth-child(5) {
			left: 2px;
			top: 11px;
		}

		&:nth-child(6) {
			left: calc(50% - 2px);
			top: 11px;
		}
	}
	
	@media (min-width: $navbar-collapse-breakpoint) {
		display: none;
	}
}