@import 'variables.scss';

/* ----------------------------------------------- */
/* ---- Default Navigation ----------------------- */
/* ----------------------------------------------- */

#nav {
	ul {
		list-style: none;
		padding: 0;
		margin: 15px 0;
	}

	li {
		display: inline;
		margin: 0;
		&:not(:last-child) {
			margin-right: 15px;
		}
	}

	a {
		color: $background-colour;
		padding: 7px 0;
		font-size: 22px;
		text-decoration: none;
		text-align: center;
		
		&.active {
			border-top-style: solid;
		}
	}

	&:not(:first-child) a:hover {
		border-bottom-style: solid;
	}

}

/* ----------------------------------------------- */
/* ---- Responsive Menu -------------------------- */
/* ----------------------------------------------- */

.nav-menu {
	display: none;
}

.expand {
	display: block;
	background-color: $header-colour;
	text-align: right;
	position: absolute;
	z-index: 10;
	left: 0;
	top: $header-height;
	width: 100%;
	
	li {
		display: block !important;
		margin: initial !important;
		padding: 10px 0;
		position: relative;
		left: 11px;

		&:first-child {
			padding-top: 0;
		}
	}
	
	a {
		padding: 0 8px !important;
		width: inherit;
		border-right: 3px solid hidden;
		
		&.active {
			border-top-style: none !important;
			border-right: 3px solid white;
		}
	}

	&:not(:first-child) a:hover {
		border-bottom-style: none !important;
		border-left: 3px solid white;
	}
}

/* ----------------------------------------------- */
/* ---- Media Queries ---------------------------- */
/* ----------------------------------------------- */

/* Hide Hamburger menu and show nav in header */
@media only screen and (min-width: 300+$nav-width) {
	.nav-menu {
		display: block;
	}
	
	#menu-btn {
		display: none;
	}
}

/* ------------------------------------------------- */
/* ---- Menu Button and animation ------------------ */
/* ------------------------------------------------- */

#menu-btn {
	float: right;
	width: 20px;
	height: 20px;
	margin-top: 20px;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;

	span {
		display: block;
		position: absolute;
		height: 3px;
		width: 50%;
		background: white;
		opacity: 1;
		transform: rotate(0deg);
		transition: .25s ease-in-out;

		&:nth-child(even) {
			left: 50%;
		}

		&:nth-child(odd) {
			left: 0px;
		}

		&:nth-child(1), &:nth-child(2) {
			top: 0px;
		}

		&:nth-child(3), &:nth-child(4) {
			top: 7px;
		}

		&:nth-child(5), &:nth-child(6) {
			top: 14px;
		}
	}

	&.open span {
		&:nth-child(1), &:nth-child(6) {
			transform: rotate(45deg);
		}

		&:nth-child(2), &:nth-child(5) {
			transform: rotate(-45deg);
		}

		&:nth-child(1) {
			left: 2px;
			top: 4px;
		}

		&:nth-child(2) {
			left: calc(50% - 2px);
			top: 4px;
		}

		&:nth-child(3) {
			left: -50%;
			opacity: 0;
		}

		&:nth-child(4) {
			left: 100%;
			opacity: 0;
		}

		&:nth-child(5) {
			left: 2px;
			top: 11px;
		}
		
		&:nth-child(6) {
			left: calc(50% - 2px);
			top: 11px;
		}
	}
}