@import 'variables.scss';

// ==========================================================================================
// ====  Default Navigation  ================================================================
// ==========================================================================================

#navbar-wrap {
	background-color: $navbar-background-colour;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: calc(var(--scale) * #{$navbar-height});

	#navbar {
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
		font-size: calc(var(--scale) * 22px);

		.brand {
			color: $background-colour;
			line-height: calc(var(--scale) * #{$navbar-height});

			svg {
				height: calc(var(--scale) * #{$navbar-height * 4/7});
				margin-top: calc(var(--scale) * (#{$navbar-height} - #{$navbar-height * 4/7}) / 2);
				fill: $background-colour;

				&:hover {
					fill: #3A3A3A;
				}
			}
		}

		.nav-menu {
			flex-flow: row nowrap;
			align-content: center;
			white-space: nowrap;
			overflow: hidden;
			z-index: 10;

			a {
				flex-shrink: 0;
				height: calc(var(--scale) * #{$navbar-height});
				line-height: calc(var(--scale) * #{$navbar-height});
				font-size: calc(var(--scale) * #{$navbar-item-font-size});
				text-transform: uppercase;
				color: $background-colour;
				padding-left: round(($navbar-height - 20) / 2);
				padding-right: round(($navbar-height - 20) / 2);
				border-bottom: $navbar-item-border-width solid transparent;
				text-decoration: none;

				&.active,
				&:hover,
				&:focus {
					border-bottom-color: $navbar-item-active-border;
				}
			}

			@media (min-width: $navbar-collapse-breakpoint) {
				display: flex;
			}
			@media (max-width: $navbar-collapse-breakpoint) {
				&.expand {
					max-height: 1000px;
					padding-bottom: $navbar-height / 5;
					background-color: $navbar-background-colour;
					text-align: right;

					a {
						display: block;
						height: $navbar-height / 1.2;
						line-height: $navbar-height / 1.2;
						// width: inherit;
						border-right: $navbar-item-border-width solid transparent;
						border-bottom: none !important;

						&.active,
						&:hover {
							border-right: $navbar-item-border-width solid $background-colour;
							// background: darken($navbar-background-colour, 10%);
						}
					}
				}

				position: absolute;
				top: $navbar-height;
				left: 0;
				max-height: 0;
				width: 100%;
				// transition: max-height 1s;

				a {
					display: none;
				}
			}
		}
	}
}


// ==========================================================================================
// ====  Responsive Menu  ===================================================================
// ==========================================================================================

#menu-btn {
	cursor: pointer;
	position: relative;
	width: 32px;
	height: 22px;
	margin-top: 21px;

	span {
		position: absolute;
		left: 0;
		height: 4px;
		width: 100%;
		background-color: #fff;
		transition: .3s;
		border-radius: 5px;

		&:nth-child(1) {
			top: 0;
		}
		&:nth-child(2) {
			top: 9px;
		}
		&:nth-child(3) {
			top: 18px;
		}
	}

	&.open {
		:nth-child(1) {
			top: 9px;
			transform: rotate(50deg);
		}
		:nth-child(2) {
			opacity: 0;
		}
		:nth-child(3) {
			top: 9px;
			transform: rotate(-50deg);
		}
	}

	@media (min-width: $navbar-collapse-breakpoint) {
		display: none;
	}
}
