:root {
	--primary-color: #255abc;
	--secondary-color: #193e83;
	--font-color: #333;
	--background-color: #f5f5f5;
	--section-background-color: #fff;
}
[data-theme="dark"] {
	--secondary-color: #507bc9;
	--font-color: #f5f5f5;
	--background-color: #121212;
	--section-background-color: #333;
}

$navbar-height: 64px;
$navbar-collapse-breakpoint: 600px;

$navbar-item-font-size: 18px;
$navbar-item-border-width: 4px;
$navbar-item-active-border: var(--background-color);

$title-height: $navbar-height * 3;
$footer-height: 50px;

$main-font: Verdana, Arial, sans-serif;
$nav-font: "Open Sans", sans-serif;
