$background-colour: #f5f5f5;
$font-colour: #333;

$navbar-height: 64px;
$main-colour: #255abc;
$navbar-collapse-breakpoint: 600px;

$navbar-item-font-size: 18px;
$navbar-item-border-width: 4px;
$navbar-item-active-border: $background-colour;

$title-height: $navbar-height * 3;
$footer-height: 50px;

$main-font: Verdana, Arial, sans-serif;
$nav-font: "Open Sans", sans-serif;
