$color-background-light: #f5f5f5;

$font-family-main: Verdana, Arial, sans-serif;
$font-family-nav: "Open Sans", sans-serif;

$height-footer: 50px;

$navbar-height: 64px;
$navbar-item-font-size: 18px;
$navbar-item-border-width: 4px;
$navbar-mobile-breakpoint: 600px;

:root {
	--color-primary: #255abc;
	--color-secondary: #193e83;
	--color-font: #333;
	--color-background: #{$color-background-light};
	--color-background-alt: #fff;
}
[data-theme="dark"] {
	--color-secondary: #507bc9;
	--color-font: #{$color-background-light};
	--color-background: #121212;
	--color-background-alt: #333;
}
