---
layout: default.hbs
---
<h1 class="visually-hidden">{{manifest.name}}</h1>

<section>
	<div class="section-content">
		<h2>{{title}}</h2>
		{{{content}}}
	</div>
</section>

<section>
	<div class="section-content">
		<ul class="project-list">
			{{#each collections.other}}
				{{> project-list-item post=this}}
			{{/each}}
		</ul>
	</div>
</section>
