*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--ff-main);
	font-size: 1.125rem;
	line-height: 1.3;
	background-color: var(--clr-background);
	color: var(--clr-dark);
	-webkit-font-smoothing: antialiased;
}

#container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 320px;
}

.nav,
main {
	padding: 0 calc(env(safe-area-inset-right) + 16px) 0 calc(env(safe-area-inset-left) + 16px);
	max-width: 1024px;
	margin: 0 auto;
}
