.header,
.nav-wrapper,
.footer {
	background-color: var(--clr-primary);
	color: var(--clr-background);

	a {
		color: inherit;
	}
}

.img-icon {
	display: block;
}

.logo {
	transition: transform 0.3s ease;

	&:hover {
		transform: rotate(var(--logo-tilt-degree)) scale(1.1);
	}
}
