:root {
	--clr-primary: #255abc;
	--clr-secondary: #3b72d7;
	--clr-background: #f5f5f5;
	--clr-dark: #0B0A0A;
	--clr-light: #fff;
	--ff-main: 'Work Sans', sans-serif;
	--ff-heading: 'Mada', sans-serif;
	--fw-normal: 400;
	--fw-bold: 700;
}
