<footer class="footer">
	<a href="https://github.com/afspeirs"><img class="img-icon" src="/images/github.svg" alt="github.com/afspeirs" width="32"></a>
	<!-- <p class="footer__text">Privacy Policy&nbsp;&nbsp;|&nbsp;&nbsp;Terms of Use</p> -->
	<p class="footer__text">&copy; Andy Speirs 2017-2020</p>
</footer>
