<header class="header">
	<h1 class="visually-hidden">{{manifest.name}}</h1>
	{{> github-corners class="header"}}

	<a class="header__logo logo" href="#" aria-label="Home">
		<img class="img-icon" src="../images/logo.svg" alt="" width="150">
	</a>
</header>
