<header class="header">
	{{> github-corners class="header"}}

	<div class="header__logo">
		<a class="logo" href="#" aria-label="Home">
			<img class="img-icon" src="./images/logo.svg" alt="" width="150" height="150">
		</a>
	</div>

	{{> nav}}
</header>
