<nav class="nav">
	{{#each navigation as |navItem|}}
		<a
			class="nav__item"
			href="{{navItem.link}}"
			{{#ifeq ../page.url navItem.link}}
				aria-current="page"
			{{/ifeq}}
		>
			{{navItem.name}}
		</a>
	{{/each}}
</nav>
