<li>
	<a class="project-list--link" href="{{post.data.page.url}}">
		<div class="project-list--item">
			<h3>{{post.data.title}}</h3>
			{{#if post.data.description}}
				{{post.data.description}}
			{{/if}}
		</div>
	</a>
</li>
