.footer {
	height: 128px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin-top: var(--section-spacing);

	.footer__text {
		margin: 0;
	}

	// This assumes white icons are being used
	a {
		&:focus,
		&:hover {
			filter: brightness(80%);
		}
	}
}
