.nav-wrapper {
	position: sticky;
	top: 0;
	opacity: 0.95;
}

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 95%;
	height: 64px;

	&.scrolled {
		justify-content: space-between;
	}

	&__logo {
		display: none;

		.scrolled & {
			display: block;
		}
	}

	&__list {
		display: none;
		padding: 0;
		margin: 0;
		list-style: none;
	}
	&__list-item {
		display: flex;
		font-family: var(--ff-heading);
		font-size: 1.5rem;
		font-weight: var(--fw-bold);
		text-transform: uppercase;
	}
	&__link {
		padding: 0 32px;
		line-height: 64px;
		text-decoration: none;
		transition: background-color 0.2s ease;

		&:focus,
		&:hover {
			background-color: var(--clr-secondary);
		}
	}

	&__toggle {
		cursor: pointer;
		position: relative;
		width: 32px;
		height: 22px;

		span,
		&:after,
		&:before {
			content: ' ';
			position: absolute;
			left: 0;
			height: 4px;
			width: 100%;
			background-color: var(--clr-background);
			transition: transform 0.3s;
			border-radius: 5px;
		}

		&:before {
			top: 0;
		}
		span {
			top: 9px;
		}
		&:after {
			top: 18px;
		}

		.opened & {
			&:before {
				top: 9px;
				transform: rotate(50deg);
			}
			span {
				opacity: 0;
			}
			&:after {
				top: 9px;
				transform: rotate(-50deg);
			}
		}
	}

	@media (min-width: $mq-mobile) {
		&__list {
			display: flex;
		}
		&__toggle {
			display: none;
		}
	}
}
