.accordion {
	&-button {
		cursor: pointer;
		padding: 18px;
		width: 100%;
		border: none;
		text-align: left;
		outline: none;
		font-size: 1em;
		color: #444;
		background-color: #eee;
		transition: background-color 0.4s ease-in;

		&:hover {
			background-color: #ccc;
		}
	}

	&-button.active + &-panel {
		max-height: 1000px;
	}

	&-panel {
		padding: 0 18px;
		max-height: 0;
		background-color: white;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
	}
}
