:root {
	--accordion-primary-color: #ddd;
	--accordion-hover-color: #ccc;
}

[data-theme="dark"] {
	--accordion-primary-color: #222;
	--accordion-hover-color: #111;
}

.accordion {
	&-button {
		cursor: pointer;
		padding: 18px;
		width: 100%;
		border: none;
		text-align: left;
		outline: none;
		font-size: 1em;
		color: var(--font-color);
		background-color: var(--accordion-primary-color);
		transition: background-color 0.2s ease-in;

		&:hover {
			background-color: var(--accordion-hover-color);
		}

		&:after {
			content: '\002B';
			float: right;
			font-weight: bold;
		}

		&.active {
			&:after {
				content: "\2212";
			}
		}
	}

	&-button.active + &-panel {
		max-height: 1000px;
	}

	&-panel {
		padding: 0 18px;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.4s ease-out;
	}
}
