// ==========================================================================================
// ====  Default Navigation  ================================================================
// ==========================================================================================

#nav-wrap {
	position: sticky;
	top: 0;
	width: 100%;
	background-color: var(--color-primary);
	opacity: 0.95;
	font-family: $font-family-nav;
	z-index: 5;

	.brand {
		color: $color-background-light;
		line-height: $navbar-height;
		z-index: 5;
		display: flex;

		.logo {
			height: $navbar-height * 4/7;
		}
	}
}

nav {
	display: flex;
	align-items: center;
	justify-content: center;
	height: $navbar-height;
	font-size: 22px;

	.logo {
		display: none;
		fill: $color-background-light;
	}

	&.show-logo {
		justify-content: space-between;

		.logo {
			display: block;
		}
	}
}

#nav-menu {
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
	white-space: nowrap;
	overflow: hidden;

	a {
		height: $navbar-height;
		line-height: $navbar-height;
		font-size: $navbar-item-font-size;
		text-transform: uppercase;
		color: $color-background-light;

		@media (min-width: $navbar-mobile-breakpoint) {
			padding-left: round($navbar-height / 2);
			padding-right: round($navbar-height / 2);
			border-bottom: $navbar-item-border-width solid transparent;
			transition: border-bottom 0.2s linear 0s;

			&.active,
			&:hover,
			&:focus {
				border-bottom-color: $color-background-light;
			}
		}
	}
}

@media (max-width: $navbar-mobile-breakpoint) {
	#nav-menu {
		display: none !important;
		flex-direction: column;
		justify-content: center;
		position: absolute;
		top: $navbar-height;
		left: 0;
		width: 100%;
		background-color: var(--color-primary);
		padding-bottom: $navbar-height / 10;
		text-align: center;
		z-index: 5;
		// opacity: 0;
		// transition: opacity 0.25s ease;

		a {
			display: block;
			height: $navbar-height;
			line-height: $navbar-height;
			font-size: round($navbar-height / 2.5);
			transition: background-color 0.2s linear 0s;

			&.active,
			&:hover,
			&:focus {
				background-color: var(--color-secondary);
			}
		}
	}
	nav.open #nav-menu {
		display: block !important
		// opacity: 1;
	}
}

// ==========================================================================================
// ====  Responsive Menu  ===================================================================
// ==========================================================================================

#nav-toggle {
	cursor: pointer;
	position: relative;
	width: 32px;
	height: 22px;
	z-index: 5;

	span,
	&:before,
	&:after {
		content: ' ';
		position: absolute;
		left: 0;
		height: 4px;
		width: 100%;
		background-color: $color-background-light;
		transition: 0.3s;
		border-radius: 5px;
	}
	&:before {
		top: 0px;
	}
	span {
		top: 9px;
	}
	&:after {
		top: 18px;
	}

	@media (min-width: $navbar-mobile-breakpoint) {
		display: none;
	}
}

nav.open #nav-toggle {
	&:before {
		top: 9px;
		transform: rotate(50deg);
	}
	span {
		opacity: 0;
	}
	&:after {
		top: 9px;
		transform: rotate(-50deg);
	}
}
