*,
*:before,
*:after {
	box-sizing: border-box;
}
a,
div {
	-webkit-tap-highlight-color: transparent;
}

:root {
	--logo-tilt-degree: 5deg;
}

html {
	scroll-behavior: smooth;
}
body {
	background-color: $background-colour;
	color: $font-colour;
	font-family: $main-font;
	font-size: 1em;
	line-height: 1.2em;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
}

#container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

header {
	display: flex;
	justify-content: center;
	padding: 3rem 0 16em;
	margin-bottom: -14em;
	background-color: $main-colour;

	.logo {
		width: 100px;
	}
}

nav,
section {
	max-width: 900px;
	margin: 0 auto;
}

nav {
	width: 90%;
}
section {
	width: 100%;
	background: white;
	padding: 32px;
	border-radius: 24px;
	box-shadow: 0 12px 12px 0 rgba(black, 0.15);

	&.small {
		text-align: center;
	}
}

.content,
footer {
	padding-top: $navbar-height;
	padding-left: 16px;
	padding-right: 16px;
}

.logo {
	fill: $background-colour;
	transition: 0.3s;

	&:hover {
		transform: rotate(var(--logo-tilt-degree)) scale(1.1);
	}
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

footer {
	p {
		margin: 0;
		line-height: $footer-height;
		text-align: center;
	}
}

.svg-arrow {
	width: 3em;

	&.down {
		padding-top: 1em;
	}
}


.scrollable {
	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 60px;
		background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,255,255,1));
		pointer-events: none;
	}
}
.scroller {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;

	// Hide scrollbar
	&::-webkit-scrollbar {
		display: none;
	}
}
